extends ../layouts/layout

include ../mixins/place-rating

block content
	h1.title.is-2= place.name

	.columns
		.column.is-8-desktop.is-12-tablet.is-12-mobile.places-list
			.columns
				.column.is-6-desktop.is-12-mobile
					h4.title.is-4.place-address= place.address

					p.place-rate
						+placeRating( place.rating )

					.content
						table
							thead
								tr
									th(colspan='2') Години роботи

							tbody
								each item in place.workHours
										tr
											td= item.days

											if item.closed === false
												td= item.opening

											if item.closed === true
												td Зачинено

					p.place-tag
						each facility in place.facilities
							span.tag.is-primary= facility

				.column.is-6-desktop.is-12-mobile
					.box
						img(src= place.map.src, alt= place.map.alt)


			.columns
				.column
					.box
						.level
							.level-left
								h4.title.is-4 Відгуки

							.level-right
								a(href='/place/review/new').button.is-primary Залишити відгук

						.message.is-small.is-dark
							each author in place.comments
								.message-header
									p
										span.user-name= author.name
										span.user-date= ', ' +  author.date + '.'

									p.place-rate
										+placeRating( author.rating )

								.message-body
									p= author.comment


		.column.is-4-desktop.is-12-tablet.is-12-mobile
			h2.title.is-4= place.sidebar.title

			each item in place.sidebar.body
				p.text= item