extends ../layouts/layout

include ../mixins/place-rating

block content
	.columns
		.column.is-4-desktop.is-5-tablet.is-12-mobile
			h1.title.is-1= pageHeader.title
			p.subtitle= pageHeader.subtitle


		.column.is-8-desktop.is-7-tablet.is-12-mobile.places-list
			.title.is-4.has-text-right= message

			each place in places

				a(href='/place').box.places-item
					article.media
						.media-left
							//figure.image.is-64x64
								img(src= place.img.src, alt= place.img.alt)

						.media-content
							.content
								p.is-size-5
									strong= place.name

								p.place-rate
									+placeRating( place.rating )

								p.place-address= place.address

								p.place-tag
									each facility in place.facilities
										span.tag.is-primary= facility

						.media-right
							p.tag.is-medium.is-warning= place.distance