extends ../layouts/layout

block content
	h1.title.is-2= form.title + ' ' + place.name

	.columns
		form(action="", method="post", role="form").box.column.is-6-tablet.is-12-mobile.is-offset-3-tablet

			.field
				label.label= form.name.label
				.control
					input.input.is-primary(type='text', placeholder= form.name.placeholder)

			.field
				label.label= form.rating.label
				.control
					.select.is-primary
						select
							- for (var i = 0; i <= 5; i++)
								option= i

			.field
				label.label= form.comment.label
				.control
					textarea.textarea.is-primary(placeholder= form.comment.placeholder)

			.field.is-grouped
				.control
					input(type="submit").button.is-primary= form.btn